*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 178, 0);
    color: rgb(255, 255, 255) ;
}
.random-beer-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.random-beer-container #beer-image{
    max-height: 300px;
}
.random-beer-container #beer-title{
    font-size: 50px;
}
.random-beer-container #beer-description{
    font-size: 25px;
}
.random-beer-container button{
    background-color: rgb(235, 91, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 20px;
}
.random-beer-container button:active{
    background-color: rgb(100, 13, 95);
    color: rgb(222, 223, 224);
    transition-duration: .5s;
}